<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="details">
        <div class="back-div"><a class="back" href="/">Back</a></div>

        <h2><%= recipe.recipe %></h2>
        <p class="time-posted">Date posted: <%= recipe.createdAt.toDateString() %></p>
        <div class="short-info">
            <p>Author: <%= recipe.author %></p>
            <p>Time required: <%= recipe.time %> minutes</p>
        </div>
        <p>Description: <%= recipe.description %></p>
        <p>Ingredients required: <%= recipe.ingredients %></p>
        <p>Instructions: <%= recipe.instructions %></p>
        
        <% if (user && user._id == recipe.creatorId) { %>
            <a class="update" href="/recipes/update/<%= recipe._id%>">Update</a>
            <a class="delete" data-doc="<%= recipe._id %>">Delete Recipe</a>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const deleteRecipe = document.querySelector('a.delete');

        deleteRecipe.addEventListener('click', e => {
            const endpoint = `/recipes/${deleteRecipe.dataset.doc}`;

            fetch(deleteRecipe, {
                method: 'DELETE'
            })
                .then((jsonResponse) => {
                    jsonResponse.json()
                        .then((parsedData) => {
                            window.location.href = parsedData.redirect;
                        })
                })
                .catch(err => {
                    console.log(err);
                })
        })
    </script>
</body>
</html>