<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include("../partials/nav.ejs") %>
    <div class="home-page">
        <h1>What's Cooking</h1>
        <% if (recipes.length > 0) { %>
            <% recipes.forEach(recipe => { %>
                <div class="recipe">
                    <a class="home-recipe-title" href="/recipes/<%= recipe._id%>"><h2><%= recipe.recipe %></h2></a>
                    <div class="home-short-info">
                        <p>Author: <%= recipe.author %></p>
                        <p>Time required: <%= recipe.time %> minutes</p>
                    </div>
                    <p>Description: <%= recipe.description %></p>
                    <p>Ingredients required: <%= recipe.ingredients %></p>
                    <p>Instructions: <%= recipe.instructions %></p>
                </div>
            <% }) %>
        <% } else { %>
            <h2>No recipes yet!</h2>
        <% } %>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>